<div class="button-group">
  <div class="container centerdiv">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-outline-success btn-square-md">Button</button>
          <button type="button" class="btn btn-outline-success btn-square-md">Button</button>
          <button type="button" class="btn btn-outline-success btn-square-md">Button</button>
          <button type="button" class="btn btn-outline-success btn-square-md">Button</button>
          <button type="button" class="btn btn-outline-success btn-square-md">Button</button>
          <button type="button" class="btn btn-outline-success btn-square-md">Button</button>
          <button type="button" class="btn btn-outline-success btn-square-md">Button</button>
          <button type="button" class="btn btn-outline-success btn-square-md">Button</button>
          <button type="button" class="btn btn-outline-success btn-square-md">Button</button>
          <button type="button" class="btn btn-outline-success btn-square-md">Button</button>
          <button type="button" class="btn btn-outline-success btn-square-md">Button</button>
          <button type="button" class="btn btn-outline-success btn-square-md">Button</button>
          <button type="button" class="btn btn-outline-success btn-square-md">Button</button>
        </div>
      </div>
    </div>
</div>
<router-outlet></router-outlet>
