<aside class="sidebar">
  <ul>
    <li><b>Sports</b></li>
    <li>Inplay</li>
    <li>Upcoming</li>
  </ul>
  <br>
  <hr>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In recusandae dolores minus quasi provident deleniti aliquid at consequatur deserunt officia sit nam ratione, natus quod excepturi cumque rem quas. Natus?</p>
  <br>
  <hr>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In recusandae dolores minus quasi provident deleniti aliquid at consequatur deserunt officia sit nam ratione, natus quod excepturi cumque rem quas. Natus?</p>
</aside>
<router-outlet></router-outlet>
